.cache
__pycache__
*.egg-info
.ipynb_checkpoints
*.pyc
*.pyo
.tox
dist
build
private
restats

# Coverage reports
.coverage
.coverage.*

# editor 
.idea
.project
.pydevproject

# pyenv
.python-version

# venv
env/
venv/

# libreoffice
.~lock.*
data/backups_csv/contract_positions/CAC_20230700.csv
data/backups_csv/contract_positions/CNH_20230800.csv
data/backups_csv/contract_positions/EU-BANKS_20230900.csv
data/backups_csv/contract_positions/EURO600_20230900.csv
data/backups_csv/contract_positions/MUMMY_20230900.csv
data/backups_csv/contract_positions/MXP_20230900.csv
data/backups_csv/contract_positions/NIKKEI_20230900.csv
data/backups_csv/contract_positions/US5_20230900.csv
data/backups_csv/contract_positions/V2X_20230900.csv
data/backups_csv/contract_prices/LUMBER-new_20240700.csv
data/backups_csv/contract_prices/SILVER_20230800.csv
data/backups_csv/spreads/AEX_mini.csv
data/backups_csv/spreads/AEX.csv
data/backups_csv/spreads/ALUMINIUM.csv
data/backups_csv/spreads/AUD_micro.csv
data/backups_csv/spreads/AUD.csv
data/backups_csv/spreads/AUDJPY.csv
data/backups_csv/spreads/BB3M.csv
data/backups_csv/spreads/BBCOMM.csv
data/backups_csv/spreads/BITCOIN.csv
data/backups_csv/spreads/BOBL.csv
data/backups_csv/spreads/BONO.csv
data/backups_csv/spreads/BOVESPA.csv
data/backups_csv/spreads/BRE.csv
data/backups_csv/spreads/BRENT-LAST.csv
data/backups_csv/spreads/BTP.csv
data/backups_csv/spreads/BTP3.csv
data/backups_csv/spreads/BUND.csv
data/backups_csv/spreads/BUTTER.csv
data/backups_csv/spreads/BUXL.csv
data/backups_csv/spreads/CAC.csv
data/backups_csv/spreads/CAD_micro.csv
data/backups_csv/spreads/CAD.csv
data/backups_csv/spreads/CH10.csv
data/backups_csv/spreads/CHEESE.csv
data/backups_csv/spreads/CHF_micro.csv
data/backups_csv/spreads/CHF.csv
data/backups_csv/spreads/CHFJPY.csv
data/backups_csv/spreads/CLP.csv
data/backups_csv/spreads/CNH.csv
data/backups_csv/spreads/COPPER-micro.csv
data/backups_csv/spreads/COPPER-mini.csv
data/backups_csv/spreads/COPPER.csv
data/backups_csv/spreads/CORN_mini.csv
data/backups_csv/spreads/CORN.csv
data/backups_csv/spreads/CRUDE_W_micro.csv
data/backups_csv/spreads/CRUDE_W_mini.csv
data/backups_csv/spreads/CRUDE_W.csv
data/backups_csv/spreads/DAX.csv
data/backups_csv/spreads/DJSTX-SMALL.csv
data/backups_csv/spreads/DOW_mini.csv
data/backups_csv/spreads/DOW.csv
data/backups_csv/spreads/ETHER-micro.csv
data/backups_csv/spreads/ETHEREUM.csv
data/backups_csv/spreads/EU-AUTO.csv
data/backups_csv/spreads/EU-BANKS.csv
data/backups_csv/spreads/EU-BASIC.csv
data/backups_csv/spreads/EU-CHEM.csv
data/backups_csv/spreads/EU-CONSTRUCTION.csv
data/backups_csv/spreads/EU-DIV30.csv
data/backups_csv/spreads/EU-DJ-OIL.csv
data/backups_csv/spreads/EU-DJ-TECH.csv
data/backups_csv/spreads/EU-DJ-TELECOM.csv
data/backups_csv/spreads/EU-DJ-UTIL.csv
data/backups_csv/spreads/EU-FOOD.csv
data/backups_csv/spreads/EU-HEALTH.csv
data/backups_csv/spreads/EU-HOUSE.csv
data/backups_csv/spreads/EU-INSURE.csv
data/backups_csv/spreads/EU-MEDIA.csv
data/backups_csv/spreads/EU-MID.csv
data/backups_csv/spreads/EU-OIL.csv
data/backups_csv/spreads/EU-REALESTATE.csv
data/backups_csv/spreads/EU-RETAIL.csv
data/backups_csv/spreads/EU-TECH.csv
data/backups_csv/spreads/EU-TRAVEL.csv
data/backups_csv/spreads/EU-UTILS.csv
data/backups_csv/spreads/EUR_micro.csv
data/backups_csv/spreads/EUR_mini.csv
data/backups_csv/spreads/EUR.csv
data/backups_csv/spreads/EURAUD.csv
data/backups_csv/spreads/EURCAD.csv
data/backups_csv/spreads/EURCHF.csv
data/backups_csv/spreads/EURO600.csv
data/backups_csv/spreads/EUROSTX-LARGE.csv
data/backups_csv/spreads/EUROSTX-SMALL.csv
data/backups_csv/spreads/EUROSTX.csv
data/backups_csv/spreads/EUROSTX200-LARGE.csv
data/backups_csv/spreads/FED.csv
data/backups_csv/spreads/FEEDCOW.csv
data/backups_csv/spreads/FTSECHINAA.csv
data/backups_csv/spreads/FTSECHINAH.csv
data/backups_csv/spreads/FTSEINDO.csv
data/backups_csv/spreads/FTSETAIWAN.csv
data/backups_csv/spreads/FTSEVIET.csv
data/backups_csv/spreads/GAS_US_mini.csv
data/backups_csv/spreads/GAS_US.csv
data/backups_csv/spreads/GAS-LAST.csv
data/backups_csv/spreads/GAS-PEN.csv
data/backups_csv/spreads/GASOILINE_micro.csv
data/backups_csv/spreads/GASOILINE.csv
data/backups_csv/spreads/GBP_micro.csv
data/backups_csv/spreads/GBP.csv
data/backups_csv/spreads/GBPCHF.csv
data/backups_csv/spreads/GBPEUR.csv
data/backups_csv/spreads/GBPJPY.csv
data/backups_csv/spreads/GICS.csv
data/backups_csv/spreads/GOLD_micro.csv
data/backups_csv/spreads/GOLD-mini.csv
data/backups_csv/spreads/GOLD.csv
data/backups_csv/spreads/HEATOIL.csv
data/backups_csv/spreads/HOUSE-US.csv
data/backups_csv/spreads/INR.csv
data/backups_csv/spreads/IRON.csv
data/backups_csv/spreads/IRS.csv
data/backups_csv/spreads/JGB-mini.csv
data/backups_csv/spreads/JGB-SGX-mini.csv
data/backups_csv/spreads/JGB.csv
data/backups_csv/spreads/JP-REALESTATE.csv
data/backups_csv/spreads/JPY_mini.csv
data/backups_csv/spreads/JPY.csv
data/backups_csv/spreads/KRWUSD_mini.csv
data/backups_csv/spreads/KRWUSD.csv
data/backups_csv/spreads/LEANHOG.csv
data/backups_csv/spreads/LIVECOW.csv
data/backups_csv/spreads/MILK.csv
data/backups_csv/spreads/MILKDRY.csv
data/backups_csv/spreads/MILKWET.csv
data/backups_csv/spreads/MSCIASIA.csv
data/backups_csv/spreads/MSCISING.csv
data/backups_csv/spreads/MSCIWORLD.csv
data/backups_csv/spreads/MUMMY.csv
data/backups_csv/spreads/MXP.csv
data/backups_csv/spreads/NASDAQ_micro.csv
data/backups_csv/spreads/NASDAQ.csv
data/backups_csv/spreads/NIFTY.csv
data/backups_csv/spreads/NIKKEI.csv
data/backups_csv/spreads/NIKKEI400.csv
data/backups_csv/spreads/NOK.csv
data/backups_csv/spreads/NZD.csv
data/backups_csv/spreads/OAT.csv
data/backups_csv/spreads/OATIES.csv
data/backups_csv/spreads/OMX.csv
data/backups_csv/spreads/PALLAD.csv
data/backups_csv/spreads/PLAT.csv
data/backups_csv/spreads/PLN.csv
data/backups_csv/spreads/R1000.csv
data/backups_csv/spreads/REDWHEAT.csv
data/backups_csv/spreads/RICE.csv
data/backups_csv/spreads/RUBBER.csv
data/backups_csv/spreads/RUSSELL_mini.csv
data/backups_csv/spreads/RUSSELL.csv
data/backups_csv/spreads/SEK.csv
data/backups_csv/spreads/SGD_mini.csv
data/backups_csv/spreads/SGD.csv
data/backups_csv/spreads/SHATZ.csv
data/backups_csv/spreads/SILVER.csv
data/backups_csv/spreads/SMI-MID.csv
data/backups_csv/spreads/SMI.csv
data/backups_csv/spreads/SOFR.csv
data/backups_csv/spreads/SOYBEAN_mini.csv
data/backups_csv/spreads/SOYBEAN.csv
data/backups_csv/spreads/SOYMEAL.csv
data/backups_csv/spreads/SOYOIL.csv
data/backups_csv/spreads/SP400.csv
data/backups_csv/spreads/SP500_micro.csv
data/backups_csv/spreads/SP500.csv
data/backups_csv/spreads/STEEL.csv
data/backups_csv/spreads/TOPIX.csv
data/backups_csv/spreads/TWD-mini.csv
data/backups_csv/spreads/TWD.csv
data/backups_csv/spreads/US-DISCRETE.csv
data/backups_csv/spreads/US-ENERGY.csv
data/backups_csv/spreads/US-FINANCE.csv
data/backups_csv/spreads/US-HEALTH.csv
data/backups_csv/spreads/US-INDUSTRY.csv
data/backups_csv/spreads/US-MATERIAL.csv
data/backups_csv/spreads/US-PROPERTY.csv
data/backups_csv/spreads/US-REALESTATE.csv
data/backups_csv/spreads/US-STAPLES.csv
data/backups_csv/spreads/US-TECH.csv
data/backups_csv/spreads/US-UTILS.csv
data/backups_csv/spreads/US2.csv
data/backups_csv/spreads/US3.csv
data/backups_csv/spreads/US5.csv
data/backups_csv/spreads/US10.csv
data/backups_csv/spreads/US10U.csv
data/backups_csv/spreads/US20.csv
data/backups_csv/spreads/US30.csv
data/backups_csv/spreads/V2X.csv
data/backups_csv/spreads/VIX_mini.csv
data/backups_csv/spreads/VIX.csv
data/backups_csv/spreads/VNKI.csv
data/backups_csv/spreads/WHEAT_mini.csv
data/backups_csv/spreads/WHEAT.csv
data/backups_csv/spreads/WHEY.csv
data/backups_csv/spreads/YENEUR.csv
data/backups_csv/strategy_positions/frank_system_CAC.csv
data/backups_csv/strategy_positions/frank_system_CNH.csv
data/backups_csv/strategy_positions/frank_system_GAS_US_mini.csv
data/backups_csv/strategy_positions/frank_system_GOLD_micro.csv
data/backups_csv/strategy_positions/frank_system_JPY.csv
data/backups_csv/strategy_positions/frank_system_MXP.csv
data/backups_csv/strategy_positions/frank_system_NASDAQ_micro.csv
data/backups_csv/strategy_positions/frank_system_NIKKEI.csv
data/backups_csv/strategy_positions/frank_system_US5.csv
data/backups_csv/strategy_positions/rob_system_CAC.csv
data/backups_csv/strategy_positions/rob_system_EU-BANKS.csv
data/backups_csv/strategy_positions/rob_system_EURO600.csv
data/backups_csv/strategy_positions/rob_system_MUMMY.csv
data/backups_csv/strategy_positions/rob_system_MXP.csv
data/backups_csv/strategy_positions/rob_system_US5.csv
data/backups_csv/strategy_positions/rob_system_V2X.csv
data/mongo_dump/admin/system.version.bson
data/mongo_dump/admin/system.version.metadata.json
data/mongo_dump/arctic_production/arctic_capital.ARCTIC.bson
data/mongo_dump/arctic_production/arctic_capital.ARCTIC.metadata.json
data/mongo_dump/arctic_production/arctic_capital.bson
data/mongo_dump/arctic_production/arctic_capital.metadata.json
data/mongo_dump/arctic_production/arctic_capital.snapshots.bson
data/mongo_dump/arctic_production/arctic_capital.snapshots.metadata.json
data/mongo_dump/arctic_production/arctic_capital.version_nums.bson
data/mongo_dump/arctic_production/arctic_capital.version_nums.metadata.json
data/mongo_dump/arctic_production/arctic_capital.versions.bson
data/mongo_dump/arctic_production/arctic_capital.versions.metadata.json
data/mongo_dump/arctic_production/contract_positions.ARCTIC.bson
data/mongo_dump/arctic_production/contract_positions.ARCTIC.metadata.json
data/mongo_dump/arctic_production/contract_positions.bson
data/mongo_dump/arctic_production/contract_positions.metadata.json
data/mongo_dump/arctic_production/contract_positions.snapshots.bson
data/mongo_dump/arctic_production/contract_positions.snapshots.metadata.json
data/mongo_dump/arctic_production/contract_positions.version_nums.bson
data/mongo_dump/arctic_production/contract_positions.version_nums.metadata.json
data/mongo_dump/arctic_production/contract_positions.versions.bson
data/mongo_dump/arctic_production/contract_positions.versions.metadata.json
data/mongo_dump/arctic_production/futures_adjusted_prices.ARCTIC.bson
data/mongo_dump/arctic_production/futures_adjusted_prices.ARCTIC.metadata.json
data/mongo_dump/arctic_production/futures_adjusted_prices.bson
data/mongo_dump/arctic_production/futures_adjusted_prices.metadata.json
data/mongo_dump/arctic_production/futures_adjusted_prices.snapshots.bson
data/mongo_dump/arctic_production/futures_adjusted_prices.snapshots.metadata.json
data/mongo_dump/arctic_production/futures_adjusted_prices.version_nums.bson
data/mongo_dump/arctic_production/futures_adjusted_prices.version_nums.metadata.json
data/mongo_dump/arctic_production/futures_adjusted_prices.versions.bson
data/mongo_dump/arctic_production/futures_adjusted_prices.versions.metadata.json
data/mongo_dump/arctic_production/futures_contract_prices.ARCTIC.bson
data/mongo_dump/arctic_production/futures_contract_prices.ARCTIC.metadata.json
data/mongo_dump/arctic_production/futures_contract_prices.bson
data/mongo_dump/arctic_production/futures_contract_prices.metadata.json
data/mongo_dump/arctic_production/futures_contract_prices.snapshots.bson
data/mongo_dump/arctic_production/futures_contract_prices.snapshots.metadata.json
data/mongo_dump/arctic_production/futures_contract_prices.version_nums.bson
data/mongo_dump/arctic_production/futures_contract_prices.version_nums.metadata.json
data/mongo_dump/arctic_production/futures_contract_prices.versions.bson
data/mongo_dump/arctic_production/futures_contract_prices.versions.metadata.json
data/mongo_dump/arctic_production/futures_multiple_prices.ARCTIC.bson
data/mongo_dump/arctic_production/futures_multiple_prices.ARCTIC.metadata.json
data/mongo_dump/arctic_production/futures_multiple_prices.bson
data/mongo_dump/arctic_production/futures_multiple_prices.metadata.json
data/mongo_dump/arctic_production/futures_multiple_prices.snapshots.bson
data/mongo_dump/arctic_production/futures_multiple_prices.snapshots.metadata.json
data/mongo_dump/arctic_production/futures_multiple_prices.version_nums.bson
data/mongo_dump/arctic_production/futures_multiple_prices.version_nums.metadata.json
data/mongo_dump/arctic_production/futures_multiple_prices.versions.bson
data/mongo_dump/arctic_production/futures_multiple_prices.versions.metadata.json
data/mongo_dump/arctic_production/optimal_positions.ARCTIC.bson
data/mongo_dump/arctic_production/optimal_positions.ARCTIC.metadata.json
data/mongo_dump/arctic_production/optimal_positions.bson
data/mongo_dump/arctic_production/optimal_positions.metadata.json
data/mongo_dump/arctic_production/optimal_positions.snapshots.bson
data/mongo_dump/arctic_production/optimal_positions.snapshots.metadata.json
data/mongo_dump/arctic_production/optimal_positions.version_nums.bson
data/mongo_dump/arctic_production/optimal_positions.version_nums.metadata.json
data/mongo_dump/arctic_production/optimal_positions.versions.bson
data/mongo_dump/arctic_production/optimal_positions.versions.metadata.json
data/mongo_dump/arctic_production/spotfx_prices.ARCTIC.bson
data/mongo_dump/arctic_production/spotfx_prices.ARCTIC.metadata.json
data/mongo_dump/arctic_production/spotfx_prices.bson
data/mongo_dump/arctic_production/spotfx_prices.metadata.json
data/mongo_dump/arctic_production/spotfx_prices.snapshots.bson
data/mongo_dump/arctic_production/spotfx_prices.snapshots.metadata.json
data/mongo_dump/arctic_production/spotfx_prices.version_nums.bson
data/mongo_dump/arctic_production/spotfx_prices.version_nums.metadata.json
data/mongo_dump/arctic_production/spotfx_prices.versions.bson
data/mongo_dump/arctic_production/spotfx_prices.versions.metadata.json
data/mongo_dump/arctic_production/spreads.ARCTIC.bson
data/mongo_dump/arctic_production/spreads.ARCTIC.metadata.json
data/mongo_dump/arctic_production/spreads.bson
data/mongo_dump/arctic_production/spreads.metadata.json
data/mongo_dump/arctic_production/spreads.snapshots.bson
data/mongo_dump/arctic_production/spreads.snapshots.metadata.json
data/mongo_dump/arctic_production/spreads.version_nums.bson
data/mongo_dump/arctic_production/spreads.version_nums.metadata.json
data/mongo_dump/arctic_production/spreads.versions.bson
data/mongo_dump/arctic_production/spreads.versions.metadata.json
data/mongo_dump/arctic_production/strategy_positions.ARCTIC.bson
data/mongo_dump/arctic_production/strategy_positions.ARCTIC.metadata.json
data/mongo_dump/arctic_production/strategy_positions.bson
data/mongo_dump/arctic_production/strategy_positions.metadata.json
data/mongo_dump/arctic_production/strategy_positions.snapshots.bson
data/mongo_dump/arctic_production/strategy_positions.snapshots.metadata.json
data/mongo_dump/arctic_production/strategy_positions.version_nums.bson
data/mongo_dump/arctic_production/strategy_positions.version_nums.metadata.json
data/mongo_dump/arctic_production/strategy_positions.versions.bson
data/mongo_dump/arctic_production/strategy_positions.versions.metadata.json
data/mongo_dump/meta_db/cache.bson
data/mongo_dump/meta_db/cache.metadata.json
data/mongo_dump/production/_BROKER_HISTORIC_ORDERS.bson
data/mongo_dump/production/_BROKER_HISTORIC_ORDERS.metadata.json
data/mongo_dump/production/_CONTRACT_HISTORIC_ORDERS.bson
data/mongo_dump/production/_CONTRACT_HISTORIC_ORDERS.metadata.json
data/mongo_dump/production/_STRATEGY_HISTORIC_ORDERS.bson
data/mongo_dump/production/_STRATEGY_HISTORIC_ORDERS.metadata.json
data/mongo_dump/production/BROKER_ORDER_STACK.bson
data/mongo_dump/production/BROKER_ORDER_STACK.metadata.json
data/mongo_dump/production/CONTRACT_ORDER_STACK.bson
data/mongo_dump/production/CONTRACT_ORDER_STACK.metadata.json
data/mongo_dump/production/EMAIL_CONTROL.bson
data/mongo_dump/production/EMAIL_CONTROL.metadata.json
data/mongo_dump/production/futures_contracts.bson
data/mongo_dump/production/futures_contracts.metadata.json
data/mongo_dump/production/futures_roll_parameters.bson
data/mongo_dump/production/futures_roll_parameters.metadata.json
data/mongo_dump/production/futures_roll_status.bson
data/mongo_dump/production/futures_roll_status.metadata.json
data/mongo_dump/production/IBClientTracker.bson
data/mongo_dump/production/IBClientTracker.metadata.json
data/mongo_dump/production/INSTRUMENT_ORDER_STACK.bson
data/mongo_dump/production/INSTRUMENT_ORDER_STACK.metadata.json
data/mongo_dump/production/locks.bson
data/mongo_dump/production/locks.metadata.json
data/mongo_dump/production/Logs.bson
data/mongo_dump/production/Logs.metadata.json
data/mongo_dump/production/margin.bson
data/mongo_dump/production/margin.metadata.json
data/mongo_dump/production/process_control.bson
data/mongo_dump/production/process_control.metadata.json
data/mongo_dump/production/spread_costs.bson
data/mongo_dump/production/spread_costs.metadata.json
data/mongo_dump/production/temporary_close_collection.bson
data/mongo_dump/production/temporary_close_collection.metadata.json
